pip==23.1.2
celery[redis]
wheel
certifi
eventlet
flask
flask-restx
flask_cors
flask-talisman
itsdangerous
numpy
pandas==1.5.3
requests
webcolors
werkzeug
gunicorn
boto3
openpyxl
xlsxwriter
tabula-py
textract-trp
gevent
opencv-contrib-python
opencv-python
opencv-python-headless
paddleocr>=2.0.1
paddlepaddle>2.1.3
paddlehub
python-dotenv
python-Levenshtein
thefuzz
PyPDF2
PyMUpdf
pillow
pytesseract
scikit-image
scipy
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
pdfkit==1.0.0
wkhtmltopdf==0.2
extract-msg==0.39.0
msgpack==1.0.4
aspose-cells
jpype1
shapely
imgaug
pyclipper
lmdb
tqdm
visualdl
rapidfuzz
cython
lxml
premailer
attrdict
Polygon3
lanms-neo==1.0.2
PyYAML==6.0
fpdf==1.7.2
